{% extends "base.html" %}

{% block article %}
    <p>
    Hi!<br/>
    I'm Samuel Lorrain. Full stack web developer from Paris.
    </p>
    <p>
    I'm working for <a href="https://www.cibiltech.com" target="_blank" rel="noopener noreferrer">Cibiltech</a>
    and i'm interested by many things. Mostly low levels stuffs, graphic programming and software design.
    </p>
    <p>
    Here, you can find articles about my findings, thoughs and experiments. Mostly related to IT but not only.
    </p>
<hr/>
    <h2>Blog</h2>
    <ul>
        {% for k,v in blogposts %}
            <li class="blog-li">
            <a href="blog/{{k}}"
               alt="{{v['title']}}">
            <i>{{v['title']}}</i> - {{v['date'] }}
            </a></li>
        {% endfor %}
        {% if blogposts %}
            <li><a href="/blog">See all blog posts</a></li>
        {% endif %}
    </ul>
{% endblock %}
