/*reset*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root {
    --background: #fafafa;
    --links: #3facff;
    --text: #383a42;
    --border: #e1e1e1;
    --code-background:#F0F0F0;
    --code-color:#383a42;
}

/*main*/
body{
  font-size: 1.5em;
  line-height: 1.35;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text);
  background-color: var(--background);
  width:60%;
  margin:auto;
}

a,a:visited{
    text-decoration:none;
    color: var(--links);
    border-bottom:4px solid rgba(0,0,0,0);
    transition:border 0.25s ease-in;
}

a:hover{
    border-bottom:2px solid var(--links);
}

article{
    font-size:1.30rem;
    max-width:50rem;
    margin-left: auto;
    margin-right: auto;
}

hr{
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid var(--border);
}

h1{
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 auto 2rem auto;
    color: var(--text);
    border:none;
}

h2{
    font-size: 2rem;
    line-height: 1;
    margin: 2.5rem 0 2.5rem 0;
}


header h1 a, header h1 a:hover{
    color: var(--text) !important;
    border:none;
}

header div {
    margin:1rem 0;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}

header h1{
    font-size: 2.0rem;
    margin:auto;
}

header nav{
    text-transform:uppercase;
    list-style-type:none;
    font-size:1.1rem;
}

header nav a{
    color: var(--text) !important;
}

header nav a:hover{
    border-bottom:3px solid var(--text);
}

header hr {
    margin-top: 1rem;
}

footer{
    width:80%;
    margin:auto auto 3.5rem auto;
    font-size: .8rem;
    text-align:center;
}

p{
    margin:1.75rem 0rem;
    text-align:justify;
}

ul{
    margin-left:2rem;
    list-style-type:square;
}

code {
    padding: 0.1rem 0.4rem;
    margin: 1rem 0.2rem;
    font-size: 1.1rem;
    white-space: nowrap;
    background: var(--code-background);
    border: 1px solid var(--border);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

pre > code {
    display: block;
    padding: 1rem 2rem 1rem 1.5rem;
    white-space: pre;
    width:100%;
    overflow: auto;
}

#previousnext {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}

@media(max-width:900px) {
    body {
        width: 95%;
        overflow-x:hidden;
    }
    nav {
        padding-right:1rem;
    }
    footer {
        margin-bottom: 2rem;
    }
}
